{% extends 'base.html.twig' %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/Automotrices.css">
    <title>Les Automotrices</title>
</head>

<body>
{% for pageprincipale in Automotrices %}
    <h1>{{pageprincipale.NomCategorie}}</h1>
        <div class="Autorails">
            <a href={{ path("app_Autorails") }}><img src={{ asset('/Images/Automotrices/')  ~ pageprincipale.image1 }} alt="Autorails" id="Autorails"></a>
            <p>Les Autorails</p>
        </div>
        <div class="TGV">
            <a href={{ path("app_TGV") }}><img src={{ asset("Images/Automotrices/") ~ pageprincipale.image2 }} alt="TGV" id="TGV"></a>
            <p>Les TGV</p>
        </div>
        {% endfor %}  
</body>

</html>
{% endblock %}


      
