{% extends 'base.html.twig' %}

{% block body %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ asset("./CSS/PageProduit.css") }}>
  <title>Wagon de Fret Rebord Taille G</title>
</head>

<body>
 <div class="titre">
        <a href={{ path("app_WagonRebord") }}>Retour vers les Wagons à Rebord</a>
                 {% for Produits in ProduitsG %}
       <h1>{{Produits.nom}}</h1>
    </div>
<div class="WagonRebordTailleG">
<img src={{ asset('Images/WagonFret/Rebord/TailleG/') ~ Produits.Vue1  }} alt="RebordTailleGVue1" id="RebordTailleGVue1">
<div class="droiteGRebord">
<p> Prix unitaire : {{Produits.prix}} €</p>

{% if app.user %}

    <a href={{ path('app_ajoutpanier', {id: Produits.id}) }}>Ajouter au panier</a>

    {% else %}

       <a href={{ path('app_login') }}>Connectez-vous pour ajouter cet article a votre panier</a>

{% endif %}
</div>
</div>
<div class="descriptionGRebord">
    <p>
   <span class="titre_description">Description du Produit :</span>  <br>
{{Produits.detail}}
   </p>
</div>
{% endfor %}

</body>
</html>

{% endblock %}