{% extends 'base.html.twig' %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ asset("./CSS/PageProduit.css") }}>
  <title>Wagon de Fret Bachés Taille Z</title>
</head>

<body>
   <div class="titre">
        <a href={{ path("app_WagonBache") }}>Retour vers les Wagons Bachés</a>
         {% for Produits in ProduitsZ %}
        <h1>{{Produits.nom}}</h1>
    </div>
<div class="WagonBacheTailleZ">
<img src={{ asset("Images/WagonFret/Bache/TailleZ/") ~ Produits.Vue1 }} alt="BacheTailleZVue1" id="BacheTailleZVue1">
<div class="droiteZBache">
<p> Prix unitaire : {{Produits.prix}} €</p>

{% if app.user %}

    <a href={{ path('app_ajoutpanier', {id: Produits.id}) }}>Ajouter au panier</a>

    {% else %}

       <a href={{ path('app_login') }}>Connectez-vous pour ajouter cet article a votre panier</a>

{% endif %}
</div>
</div>
<div class="descriptionZBache">
    <p>
   <span class="titre_description">Description du Produit :</span>  <br>
{{Produits.detail}}
    </p>
</div>
{% endfor %}
</body>
</html>

{% endblock %}