{% extends 'base.html.twig' %}

{% block body %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ asset('/CSS/PageProduit.css') }}>
    <link rel="stylesheet" href={{ asset('CSS/Carrousel.css') }}>
    <title>Wagon de Fret Bachés Taille HO</title>
</head>
<body>
    <div class="titre">
        <a href={{ path("app_WagonBache") }}>Retour vers les wagons Bachés</a>
        {% for Produits in ProduitsHO %}
        <h1>{{Produits.nom}}</h1>
    </div>
    <!-- Carrousel -->
<div id="carousel-container">
  <div id="carousel">
    <div class="carousel-item">
    <img src={{ asset("Images/WagonFret/Bache/TailleHO/") ~ Produits.Vue1}} alt="BacheTailleHOVue1" id="BacheTailleHOVue1">
    </div>
    <div class="carousel-item">
        <img src={{ asset("Images/WagonFret/Bache/TailleHO/") ~ Produits.Vue2 }} alt="BacheTailleHOVue2" id="BacheTailleHOVue2">
    </div>
    <div class="carousel-item">
       <img src={{ asset("Images/WagonFret/Bache/TailleHO/") ~ Produits.Vue3 }} alt="BacheTailleHOVue3" id="BacheTailleHOVue3">
    </div>
    <div class="carousel-item">
        <img src={{ asset("Images/WagonFret/Bache/TailleHO/") ~ Produits.Vue4 }} alt="BacheTailleHOVue4" id="BacheTailleHOVue4">
    </div>
    <div class="carousel-item">
    <img src={{ asset("Images/WagonFret/Bache/TailleHO/") ~ Produits.Vue5 }} alt="BacheTailleHOVue5" id="BacheTailleHOVue5">
    </div>
  </div>
</div>
<div class="bouton">
    <button id="prev-btn" onclick="prevSlide()">Précédent</button>
    <button id="next-btn" onclick="nextSlide()">Suivant</button>
</div>
<div class="droite">
<p> Prix unitaire : {{Produits.prix}} €</p>

{% if app.user %}

    <a href={{ path('app_ajoutpanier', {id: Produits.id}) }}>Ajouter au panier</a>

    {% else %}

       <a href={{ path('app_login') }}>Connectez-vous pour ajouter cet article a votre panier</a>

{% endif %}
</div>
<div class="descriptionHOBache">
    <p>
   <span class="titre_description">Description du Produit :</span>  <br>
{{Produits.detail}}
   </p>
</div>
{% endfor %}
</body>
<script src="./js/Carrousel.js"></script>
</html>
{% endblock %}