{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ asset('CSS/Remboursement.css') }}">
    <title>Conditions de Remboursement</title>
</head>
<body>
    <h1>Conditions de Remboursement en cas d'annulation de commande</h1>
        <div class='Droite'>
            <div class="infosPersos">
                <a href={{ path('app_InfosPersos') }}>Mes Informations Personnelles</a>
            </div>
            <div class="Retour">
                <a href={{ path('app_Retractation') }}>Formulaire de retour</a>
            </div>
            <div class="Livraison">
                <a href={{ path('app_Paiement') }}>Mode et délais de livraison</a>
            </div>
            <div class="remboursement">
                <a href={{ path('app_Conditions') }}>Conditions de remboursement</a>
            </div>
        </div> {# Fin div Droite #}

        <div class="Remboursement">
            <div class="delaislegal">
            <p>Le Client a un délais légal de 14 jours a compté du lendemain de la réception de la commande, <br>
                pour retourner le produit et demander un remboursement.</p>
            </div>
            <div class="droitretractation">
            <p>Ce droit de rétractation s'applique également quand le produit est soldé ou d'occasion. <br></p>
            </div>
            <div class="demanderemboursement">
            <p>Pour demander un remboursement, merci de remplir le formulaire de rétractation qui est a votre disposition. <br>
                Tous les produits du site sont garantie 2 ans.</p>
            </div>
        </div>















</body>
</html>
{% endblock %}