{% extends 'base.html.twig' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ asset('CSS/MonCompte.css') }}>
    <title>MonCompteUser</title>
</head>

<body>
    <h1>Mon Compte</h1>
    <div class="CompteHaut">
        <div class="InfosPersos"> {# Infos Peros #}
            <a href={{ path('app_InfosPersos') }}><img src={{ asset('Images/MonCompte/IconeInfosPersos.png') }} alt="InformationsPersonnelles" id="InfosPersos"></a>
            <p>Mes Informations Personnelles</p>
        </div>
        
        <div class="Retractation"> {# Formulaire Retractation peut surement sauter #}
            <a href={{ path('app_Retractation') }}><img src={{ asset('Images/MonCompte/Retractation.png') }} alt="Formulaire de Retractation" id="Retractation"></a>
            <p>Formulaire de Retractation</p>
        </div>

    </div>

        <div class="CompteBas">
            <div class="Remboursement"> {# Conditions de Remboursement #}
            <a href={{ path('app_Conditions') }}><img src={{ asset('Images/MonCompte/ConditionRemboursement.png') }} alt="Conditions de Remboursement" id="Remboursement"></a>
                <p>Conditions de Remboursements</p>
            </div>
            <div class="Paiement"> {# Mode de paiement et délais de livraisons #}
            <a href={{ path('app_Paiement') }}><img src={{ asset('Images/MonCompte/MoyenPaiement.png') }} alt="Moyen de Paiement" id="Paiement"></a>
            <p>Modes et délais de livraison</p>
        </div>
        </div>
</body>

</html>
{% endblock %}