{% extends 'base.html.twig' %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ asset("./CSS/PageProduitAutomotrices.css") }}>
  <title>Autorails Taille N</title>
</head>

<body>
    <!-- Body -->
<div class="titre">
        <a href={{ path("app_Autorails") }}>Retour vers les Autorails</a>
        {% for Produits in ProduitsN %}
       <h1>{{Produits.nom}}</h1>
</div>
<div class="AutorailsN">
<img src={{ asset('Images/Autorails/TailleN/') ~ Produits.Vue1  }} alt="CiterneTailleGVue1" id="CiterneTailleGVue1">
<div class="droiteNAutorails">
<p> Prix unitaire : {{Produits.prix}} €</p>

{% if app.user %}

    <a href={{ path('app_ajoutpanier', {id: Produits.id}) }}>Ajouter au panier</a>

    {% else %}

       <a href={{ path('app_login') }}>Connectez-vous pour ajouter cet article a votre panier</a>

{% endif %}

</div>
</div>
<div class="descriptionNAutorails">
    <p>
   <span class="titre_description">Description du Produit :</span>  <br>
{{Produits.detail}}

   </p>
</div>
{% endfor %}
</body>
</html>
{% endblock %}