{% extends 'base.html.twig' %}

{% block body %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/PageProduitVoies.css">
    <link rel="stylesheet" href="./CSS/Carrousel.css">
  <title>Les Voies Taille Z</title>
</head>

<body>
    <div class="titre">
        <a href={{ path('app_Voies') }}>Retour vers les Voies</a>
         {% for Produits in ProduitsZ %}
         <h1>{{Produits.nom}}</h1>
    </div>

<div class="VoiesTailleZ">
<img src={{ asset('Images/Voies/TailleZ/') ~ Produits.Vue1 }} alt="VoieTailleZVue1" id="VoiesTailleZVue1">
<div class="droiteZVoies">
<p> Prix unitaire : {{Produits.prix}} €</p>

{% if app.user %}

    <a href={{ path('app_ajoutpanier', {id: Produits.id}) }}>Ajouter au panier</a>

    {% else %}

       <a href={{ path('app_login') }}>Connectez-vous pour ajouter cet article a votre panier</a>

{% endif %}
</div>
</div>
<div class="descriptionZVoies">
    <p>
   <span class="titre_description">Description du Produit :</span>  <br>
{{Produits.detail}}
   </p>
</div>
{% endfor %}

</body>
</html>
{% endblock %}